:root {
--size-label: 20px;
--size-error: 16px;
}

.NewContactForm__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid;
    border-radius: 6px;
    padding: 30px;
}

.NewContactForm__form__label {
    font-size: var(--size-label);
}

.NewContactForm__form__field {
    margin-left: 20px;
}

.NewContactForm__form__error {
    font-size: var(--size-error);
    color: red;
}

#NewContactForm__form__button {
    font-size: var(--size-label);
}